<%- include('../../../partials/head.ejs') %> 
<link rel="stylesheet" type="text/css" href="/css/newAdmin.css">
<%- include('../../../partials/head2.ejs') %> 
<body>
    <%- include('../../../partials/navAdmin.ejs') %>
    <div class="container mb-5">
        <div class="card" id="cardAdmin">
            <div class="card-header" id="cardText">
                <hr>
                <h1 class="display-6">Editar dados do Livro</h1>
                <img src="/img/edicaoAdmin.png" class="imgLogo">
                <hr>
            </div>
            <div class="card-body">
                <form method="POST" action="/admin/book/update">
                    <div class="form-floating">
                        <input type="text" name="name" class="form-control" placeholder=" " required value="<%= books.name %>">
                        <label>Digite o nome do livro</label>
                    </div>
                    <br><div class="form-floating">
                        <input type="number" name="numberPages" class="form-control" placeholder=" " required value="<%= books.numberPages %>">
                        <label>Digite o numero de Páginas</label>
                    </div>
                    <br><div class="form-floating">
                        <input type="text" name="author" class="form-control" placeholder=" " required value="<%= books.author %>">
                        <label>Digite o nome do autor</label>
                    </div>
                    <br><div class="form-floating">
                        <textarea class="form-control" placeholder=" " name="summary" required >
                            <%= books.summary %> 
                        </textarea>
                        <label>Resumo do Livro</label>
                    </div>
                    <br><label style="color: white;">Categoria do Livro</label>
                    <select class="form-select" name="categoryId">
                        <% categories.forEach(category => { %>
                            <% if (category.id == books.categoryId){ %>
                                <option value="<%= category.id %>" selected> <%= category.title %></option>
                            <% }else { %>
                                <option value="<%= category.id %>"> <%= category.title %></option>
                            <% } %> 
                        <% }) %> 
                    </select>
                    <input type="hidden" value="<%= books.id %>" name="id">
                    <br><div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-warning">Atualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('../../../partials/footer.ejs') %>